// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
.card-body{

    color: white !important;
    background-color: black !important;

}
.card{
    display: inline;
}
.card-text{
    font-size: 50px;
    text-align: center;
}
.card-title{
    font-size: 50px;
    text-align: center;
}
.navbar{
    background-color:darkblue  !important;
}
.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
}